html {
    box-sizing: border-box;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  *, *:before, *:after {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
  }
  #root{
    color: red;
    font-weight: 800;
    font-size: 20px;
  }
  .box{
    display: block;
    padding: 20px;
    background-color: black;
    height: 50px;
  }
